body {
    margin: 0;
    min-height: 100dvh;
}
.main {
    display: grid;
    place-content: center;
    height: 100vh;
}

@media (prefers-color-scheme: dark) {
    body {
        background: black;
    }
    .main {
        color: white;
    }
}